// Fontes
$fontPage: Roboto, sans-serif;

// Colors
$primayColor: #182C61;
$secondColor: #44bd32;
$second-colorHover: #2b801e;
$pageBackgroundcolor: #f5f6fa;

// breakpoints 
$tablet: 1023px;
$mobile: 767px;